.contact-title {
  font-size: 250%;
  font-weight: 500;
  color: #2962ff;
  padding-top: 8rem;
}

.contact-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 4rem auto;

  .contact-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  ::ng-deep .mat-form-field-infix {
    width: 12rem;
  }

  .recaptcha {
    @media only screen and (max-width: 699.98px) {
      transform: scale(0.7);
      transform-origin: 0;
    }
  }

  .submit-button-section {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    .submit-button {
      width: 18rem;
      height: 5rem;
    }
  }
}
