@use 'node_modules/@angular/material/index' as mat;

@include mat.core();

$portfolio-primary: mat.define-palette(mat.$blue-palette, A700);
$portfolio-accent: mat.define-palette(mat.$green-palette, 700);

// The "warn" palette is optional and defaults to red if not specified.
$portfolio-warn: mat.define-palette(mat.$red-palette);


$portfolio-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

@include mat.all-component-themes($portfolio-theme);
